@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
}

.courgette-regular {
  font-family: "Courgette", cursive;
}

.bbh-hegarty-regular {
  font-family: "BBH Hegarty", sans-serif;
}
